* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
}

html {
  color: #2A2626;
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1110px;
  padding: 100px 0;
}

.section-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.bg-pattern::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.w-100 {
  min-width: 100%;
}

.mb-140px {
  margin-bottom: 140px;
}

.mr-15 {
  margin-right: 15px;
}e

.ml-15 {
  margin-left: 15px;
}

.mb-63px {
  margin-bottom: 63px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-20px {
  margin-bottom: 20px;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}
