* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 0;
}

html {
  color: #2A2626;
  font: 16px/1.6em "OpenSans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: normal;
  color: #FE8A02;
}

h1 {
  font-size: 72px;
  margin-top: 0;
}

.mt-5px {
  margin-top: 5px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.mp-0 {
  margin: 0;
  padding: 0 0;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1110px;
  padding: 100px 0;
}

.section-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.bg-pattern::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  opacity: 0.1;
}

.fs-14px {
  font-size: 14px;
}

.w-100 {
  min-width: 100%;
}

.mb-130px {
  margin-bottom: 130px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mr-15px {
  margin-right: 15px;
}

.mr-14px {
  margin-right: 14px;
}

.ml-15px {
  margin-left: 15px;
}

.mb-70px {
  margin-bottom: 70px;
}

.mb-63px {
  margin-bottom: 63px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-5px {
  margin-bottom: 5px;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-bold {
  font-weight: bold;
}
