.txt-dark {
  color: #2a2626;
  font-weight: normal;
}

.txt-white {
  color: #fff;
}

.txt-primary {
  color: #fe8a02;
  font-weight: normal;
}

.txt-blue {
  color: #1085c5;
}

.txt-white-50 {
  color: #d7ccc0;
}

.txt-dark-50 {
  color: #908d8b;
}

.txt-brown {
  color: #b09a81;
}

.bg-light {
  background-color: #f5f4f0;
}

.bg-white {
  background-color: #fff;
}

.bg-primary-dark {
  background-color: #42413c;
}

.bg-brown {
  background-color: #b09a81;
}

.bg-primary {
  background-color: #fe8a02;
}

.bg-primary-hover {
  background-color: #ea7600;
}
