.bg-dark-primary {
  background-color: #42413C;
  color: white;
}

.pt-55px {
  padding-top: 55px;
}

.pb-55px {
  padding-bottom: 55px;
}

.pt-38px {
  padding-top: 38px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pl-55px {
  padding-left: 55px;
}

.pr-55px {
  padding-right: 55px;
}

.footer-col {
  flex-basis: 50%;
}

.label {
  margin-bottom: 10px;
  font-size: 18px;
  display: block;
}

.email-input {
  vertical-align: middle;
  width: 415px;
  height: 50px;
  padding: 0 15px;
}

.send-btn {
  vertical-align: middle;
  display: inline-block;
  margin-left: -5px;
  border: none;
  position: relative;
  width: 70px;
  height: 50px;
  background-image: url(../images/send.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FE8A02;
}

.form-small-text {
  font-size: 12px;
}

.df-column {
  flex-direction: column;
}

/* .footer-row {
  padding-right: 55px;
  padding-left: 55px;
  padding
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-title {
  padding-top: 55px;

}

.footer-form-container {
  padding-top: 38px;
}



.input-row {
  height: 50px;
}

.email-input {
  width: 415px;
  height: 100%;
}

.email-input::placeholder {
  padding-left: 15px;
  font-family: OpenSans;
}

.form-small-text {
  font-size: 12px;
}

.form-small-text a {
  color: #ffffff;
}



.send input {
  width: 100%;
  height: 100%;
  background-color: #FE8A02;
}

.send::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url(../../images/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.send:hover {
  background-color: #EA7600;

}

.flex-d-column {
  flex-direction: column;
} */
