.bg-dark-primary {
  background-color: #42413c;
}

.pt-55px {
  padding-top: 55px;
}

.pb-55px {
  padding-bottom: 55px;
}

.pt-38px {
  padding-top: 38px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pl-55px {
  padding-left: 55px;
}

.pr-55px {
  padding-right: 55px;
}

.mb-72px {
  margin-bottom: 72px;
}

.mb-14px {
  margin-bottom: 14px;
}

.footer-col {
  flex-basis: 50%;
}

.label {
  margin-bottom: 10px;

  display: block;
  font-size: 18px;
}

.email-input {
  width: 415px;
  height: 50px;
  vertical-align: middle;
  padding: 0 15px;

  font-family: inherit;
}

.email-input::placeholder {
  font-family: OpenSans, sans-serif;
}

.send-btn {
  display: inline-block;

  vertical-align: middle;
  margin-left: -5px;
  position: relative;

  width: 70px;
  height: 50px;

  border: none;

  background-image: url(../images/send.svg);
  background-color: #fe8a02;
  background-repeat: no-repeat;
  background-position: center;
}

.form-small-text {
  font-size: 12px;
}

.df-column {
  flex-direction: column;
}
