.header-section {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.main-img {
  max-width: 952px;
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.main-img img {
  width: 100%;
}

.btn {
  padding: 12px 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background: #FE8A02;;
}

.btn:hover {
  background: #EA7600;
}

.main-text {
  flex-basis: 50%;
}

.mb-40px {
  margin-bottom: 40px;
}

.mr-15px {
  margin-right: 15px;
}

.ml-15px {
  margin-left: 15px;
}
