.header-section {
  position: relative;
}

.relative {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.main-image {
  position: absolute;
  height: 525px;
  width: auto;
  top: 55px;
  right: -270px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background: #FE8A02;
}

.btn:hover {
  background: #EA7600;
}

.main-text {
  flex-basis: 50%;
}

.mb-35px {
  margin-bottom: 35px;
}
