.ikea-section {
  position: relative;
}

.premature-section {
  position: relative;
}

.distortion-of-novelty-section {
  position: relative;
}

.hyperbolic-depreciation-section {
  position: relative;
}

.errors-in-planning-section {
  position: relative;
}

.video {
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 5;
}

.video-section-title {
  text-align: center;
  padding-top: 10px;
}

.example-title {
  line-height: 1.0;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-variant: small-caps;
  padding: 6px 0 4px 10px;
}

.video-section-container {
  padding-bottom: 0px;
  margin-bottom: -100px;
}

.section-title {
  font-family: Neucha, sans-serif;
}

.section-image img {
  vertical-align: middle;
}

.title {
  margin-bottom: 30px;
}

.over-title {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 1.2;
}

.under-title {
  font-size: 34px;
  line-height: 1.2;
}

.pr-20px {
  padding-right: 20px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-30px {
  margin-bottom: 30px;
}
