.video {
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 5;
}

.video-section-title {
  text-align: center;
}

/* Premature-section */
.premature-optimizatioin-section {
  position: relative;
}

.example-title {
  font-size: 14px;
  font-variant: small-caps;
  color: #B09A81;
  margin-left: 10px;
}

.video-section-container {
  padding-bottom: 0px;
  margin-bottom: -100px;
}

.mb-27px {
  margin-bottom: 27px;
}

.mb-30px {
  margin-bottom: 30px;
}
