.video {
  z-index: 5;

  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-section-title {
  padding-top: 10px;

  text-align: center;
}

.example-title {
  padding: 8px 0 6px 10px;

  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-variant: small-caps;
  line-height: 1;
  text-transform: uppercase;
}

.video-section-container {
  margin-bottom: -92px;
  padding-bottom: 0;
}

.section-title {
  font-family: Neucha, sans-serif;
}

.section-image {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title {
  margin-bottom: 27px;
}

.over-title {
  display: inline-block;
  margin-bottom: 5px;

  font-size: 24px;
  line-height: 1.2;
}

.under-title {
  font-size: 34px;
  line-height: 1.2;
}

.span {
  display: block;
  margin-top: 11px;
}

.pt-5px {
  padding-top: 5px;
}

.pr-20px {
  padding-right: 20px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-30px {
  margin-bottom: 30px;
}
