@import "base.css";
@import "colors.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "navigation.css";

@font-face {
  font-family: "Neucha";
  src: local("Neucha"),
  url("../fonts/Neucha-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  src:
   local("OpenSans"),
   url("../fonts/OpenSans-Regular.ttf");

}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  src:
   local("OpenSans-bold"),
   url("../fonts/OpenSans-Bold.ttf");
}
