@import "base.css";
@import "colors.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "navigation.css";

@font-face {
  font-weight: normal;
  font-family: "Neucha";
  src:
    local("Neucha"),
    url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  src:
    local("OpenSans"),
    url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  src:
    local("OpenSans-bold"),
    url("../fonts/OpenSans-Bold.ttf");
}
